<div class="modal-header">

    <div class="persona-foto pt-8">
        @if (persona.photoUrl !== null && persona.photoUrl !== "") {
            <img [src]="persona.photoUrl" alt="">
        } @else {
            <img [src]="`img/sin_foto_${persona.genero}.png`" alt="">
        }
    </div>

    <div class="persona-info">
        <div class="meta">
            <h2 class="nombre">
                {{ persona.nombreCompleto }}
                <app-button-person-options
                    [persona]="persona"
                    [notdescendencia]="true"
                    [notchild]="true"
                    (actionEvent)="actionEventButton($event)"
                />
            </h2>
            @if (persona.fechaNacimiento){
                <p-tag  class="mt-2" value="{{persona.fechaNacimiento}}" icon="pi pi-calendar"></p-tag>
                <br>
            }
            @if (persona.lugarNacimiento){
                <p-tag class="mt-2" value="{{persona.lugarNacimiento}}" icon="pi pi-map-marker"></p-tag>
                <br>
            }
            @if (persona.notas){
                <p-tag class="mt-2" value="{{persona.notas}}" icon="pi pi-info"></p-tag>
            }
        </div>
    </div>

    <button
        pButton
        icon="pi pi-times"
        class="close-btn p-button-rounded p-button-text"
        (click)="cerrar()">
    </button>
</div>

@if(parejas.length>0){
    @for (union of parejas; track union.unionId) {
        <div class="card-union">
            <div class="flex w-full items-center justify-center">
                <div class="pareja-foto pt-2">
                    @if (union.spouse.photoUrl !== null && union.spouse.photoUrl !== "") {
                        <img [src]="union.spouse.photoUrl" alt="">
                    } @else {
                        <img [src]="`img/sin_foto_${union.spouse.genero}.png`" alt="">
                    }
                </div>
                <div class="nombre-pareja">
                    {{ union.spouse.nombreCompleto }}

                    <app-button-person-options
                        [persona]="union.spouse"
                        [union]="union"
                        [notdescendencia]="true"
                        [notpareja]="true"
                        (actionEvent)="actionEventButton($event)"/>

                    @if (union.spouse.fechaNacimiento){
                        <p-tag  class="mt-2 ml-2" value="{{union.spouse.fechaNacimiento}}" icon="pi pi-calendar"></p-tag>
                    }
                    @if (union.spouse.lugarNacimiento){
                        <p-tag class="mt-2 ml-2" value="{{union.spouse.lugarNacimiento}}" icon="pi pi-map-marker"></p-tag>
                    }
                    @if (union.spouse.notas){
                        <p-tag class="mt-2 ml-2" value="{{union.spouse.notas}}" icon="pi pi-info"></p-tag>
                    }
                </div>
            </div>
            @if(union.children.length>0){
                <div class="mt-2">
                    <app-hijos-table
                        [persons]="union.children"
                        (save)="false"
                        (delete)="false">
                    </app-hijos-table>

                </div>
            } @else{
                <div class="text-center py-4">
                    Sin hijos registrados
                </div>
            }
        </div>
    }
} @else {
    <div class="text-center py-4">
        No tiene parejas registradas
    </div>
}


<p-dialog
    [(visible)]="visibleModalSpouse"
    [modal]="true"
    [draggable]="false"
    [style]="{ width: '30vw' }"
    [resizable]="false"
    [showHeader]="false"
    [closeOnEscape]="true"
    [dismissableMask]="true"
>
    @if (visibleModalSpouse) {
        <app-add-spouse-modal
            [persona]="persona"
            (msjEvent)="mostrarMensaje($event)"
            (cerrarDialog)="closeDialogAddSpouse($event)">
        </app-add-spouse-modal>
    }
</p-dialog>

<p-dialog
    [(visible)]="visibleModalChildren"
    [modal]="true"
    [draggable]="false"
    [style]="{ width: '30vw' }"
    [resizable]="false"
    [showHeader]="false"
    [closeOnEscape]="true"
    [dismissableMask]="true"
>
    @if (visibleModalChildren) {
        <app-add-children-modal
            [persona]="persona"
            [union]="unionSelected"
            (msjEvent)="mostrarMensaje($event)"
            (cerrarDialog)="closeDialogAddChildren($event)">
        </app-add-children-modal>
    }
</p-dialog>
