/* =========================================
   PRIMENG DESIGN TOKENS
========================================= */

:root {

    /* ================= COLOR PRIMARIO ================= */
    --p-primary-color: #0A96CC;
    --p-primary-contrast-color: #fff207;

    /* ================= BUTTONS ================= */

    --p-button-border-radius: 0.75rem;

    /* ================= INPUTS ================= */

    --p-inputtext-border-radius: 0.5rem;

    /* ================= TABLE ================= */

    --p-datatable-header-background: #ffffff;
    --p-datatable-header-color: var(--p-primary-color);
    --p-datatable-header-border-color: #e5e7eb;

    --p-datatable-row-hover-background: #f8fafc;

    --p-datatable-header-cell-padding: 1rem 0.75rem;
    --p-datatable-body-cell-padding: 0.2rem 0.2rem;

    /* ================= PAGINATOR ================= */

    --p-paginator-background: transparent;
    --p-paginator-border-radius: 0.5rem;

    /* ================= DIALOG ================= */

    --p-dialog-border-radius: 1rem;

    /* ================= OVERLAY ================= */

    --p-overlay-background: #ffffff;

    --p-datatable-row-background: #ffffff;
    --p-datatable-row-striped-background: #fafafa;

    --p-button-primary-color: #fff;

}


.modal-header{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    padding: 2rem;
}

/* foto */
.persona-foto img{
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.pareja-foto img{
    width: 50px;
    object-fit: cover;
    border-radius: 8px;
}

/* info */
.persona-info{
    flex: 1;
}

.nombre{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.nombre-pareja{
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 1rem;
}

.meta{
    font-size: 0.9rem;
    opacity: 0.8;
}

.notas{
    margin-top: .25rem;
    font-size: .9rem;
    opacity: 0.7;
}

/* boton cerrar */
.close-btn{
    position: absolute;
    right: 0;
    top: 0;
}

.card-union{
    background-color: #eee;
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

/* =========================================
   DARK MODE
========================================= */

.p-dark {

    /* ================= TABLE ================= */

    --p-datatable-header-background: #2f2f2f;
    --p-datatable-header-color: var(--p-primary-color);
    --p-datatable-header-border-color: #444;

    --p-datatable-row-hover-background: #262626;

    /* ================= INPUTS ================= */

    --p-inputtext-background: #1f1f1f;
    --p-inputtext-border-color: #444;
    --p-inputtext-color: #e5e7eb;

    /* ================= OVERLAY ================= */

    --p-overlay-background: #1f1f1f;

    /* ================= hover elegante y zebra rows. ======================== */
    --p-datatable-row-background: #1f1f1f;
    --p-datatable-row-striped-background: #262626;

    --p-button-primary-color: #fff;


    .card-union{
        background-color: #262626;
    }
}
