<div class="modal-header">
    <div class="persona-info flex w-full items-center justify-center">
        <h2 class="nombre">
            Agregar Hijo
        </h2>
    </div>

    <button
        pButton
        icon="pi pi-times"
        class="close-btn p-button-rounded p-button-text"
        (click)="cancelCreate()">
    </button>
</div>
<div class="mt-3">
    <h5 class="mb-3">Seleccionar persona</h5>

    <p-autoComplete
        class="w-full"
        [(ngModel)]="selectedPerson"
        [suggestions]="filteredPersons"
        (completeMethod)="buscarPersonas($event)"
        optionLabel="nombreCompleto"
        [dropdown]="true"
        [minLength]="2"
        [delay]="300"
        placeholder="Buscar persona..."
        [forceSelection]="true"
        appendTo="body"
    >
    </p-autoComplete>

    <div class="flex justify-content-end gap-2 mt-4">

        <button
            pButton
            label="Cancelar"
            class="p-button-text"
            (click)="cancelCreate()"
        ></button>

        <button
            pButton
            label="Guardar"
            icon="pi pi-check"
            [disabled]="!selectedPerson"
            (click)="crearUnionChild()"
        ></button>

    </div>

</div>
