<p-table
    [value]="persons"
    dataKey="id"
    editMode="row"
    stripedRows
    showGridlines
>

    <ng-template pTemplate="header">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>F. Nacimiento</th>
            <th>Lugar</th>
            <th>Notas</th>
            <th>Acciones</th>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-person let-ri="rowIndex">
        <tr [pEditableRow]="person">

            <!-- FOTO -->
            <td>
                @if (person.photoUrl){
                    <img [src]="person.photoUrl" class="w-16 rounded">
                }@else{
                    <img [src]="'img/sin_foto_'+person.genero+'.png'" class="w-16 rounded">
                }
            </td>


            <!-- NOMBRE -->
            <td>
                {{person.nombreCompleto}}
            </td>


            <!-- GENERO -->
            <td>
                {{person.genero}}
            </td>


            <!-- FECHA -->
            <td>
                {{person.fechaNacimiento}}
            </td>


            <!-- LUGAR -->
            <td>
                {{person.lugarNacimiento}}

            </td>


            <!-- NOTAS -->
            <td>
                {{person.notas}}
            </td>


            <!-- ACCIONES -->
            <td>
                <div class="flex items-center justify-center gap-2">
                    <p-confirmpopup #cp/>
                    <button
                        pButton
                        pRipple
                        type="button"
                        (click)="onDelete(person, $event)"
                        icon="pi pi-trash"
                        rounded
                        text
                        severity="warn"
                        pTooltip="Desvincular">
                    </button>
                </div>

            </td>

        </tr>
    </ng-template>

</p-table>
